@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 128px);
}

.login {
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  padding: 10px 70px;
  a {
    margin-top: 5px;
  }
  div{
    margin-bottom: 5px ;
  }
}