@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: $base-size;
  text-align: center;
  padding-bottom: 50px;
}

.form{
  display: flex;
  justify-content: center;
  div{
    min-width: 150px;
    max-width: 200px;
    padding-right: 5px;
  }
}